@import "bootstrap";
@import "font-awesome/css/font-awesome.css";

body{
  font-family: "Segoe UI Semibold";
}

h3{
  background-color: aliceblue;
}
.card{
  background-color: aliceblue;
  border: none;
}
.card-header{
  border: none;
  background-color: aliceblue;
  margin-left: 3rem;
  margin-right: 3rem;
}
.card-body{
  border: none;
}
fieldset{
  font-family: "Segoe UI Semibold";
}
#btnSubmit{
  margin-left: 30rem;
  width: 10%;
  margin-right: 10px;
}
#btnReset{
  width: 10%;
  margin-right: 2rem;
}
table{
  margin-left: 2rem;
  margin-top: 3rem;
}
.farmerDetails{
  margin-top: 3rem;
}

