<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Farmer Management</title>
</head>
<body>
<h3 class="text-center">Farmer Management System</h3>


<fieldset style="margin: 3rem;" class="form-group border p-3">
  <legend style="color: green; font-size: 26px" class="w-auto px-2">Farmers Details</legend>
  <form (ngSubmit)="farmerForm()" style="margin-top: 2rem;">
    <div class="container">

      <div class="row">

        <div class="col-sm">
          <div class="col-md-12">
            <label for="name" class="form-label">Farmer Name</label>
            <input [(ngModel)]="farmer.name" type="text"  class="form-control" id="name" name="name" style="background-color: aliceblue" placeholder="Enter Farmer's Name" required>
          </div>
        </div>

        <div class="col-sm">
          <div class="col-md-12">
            <label for="fathersName" class="form-label">Father's Name</label>
            <input [(ngModel)]="farmer.fathersName" type="text" class="form-control" id="fathersName" name="fathersName" style="background-color: aliceblue" placeholder="Enter Father's Name" required>
          </div>
        </div>

        <div class="col-sm">
          <div class="col-md-12">
            <label for="age" class="form-label">Age</label>
            <input [(ngModel)]="farmer.age" type="number" class="form-control" id="age" name="age" style="background-color: aliceblue" placeholder="Enter Age" required>
          </div>
        </div>

        <div class="col-sm">
          <div class="col-md-12">
            <label class="form-label">Gender</label>
            <div>
              <div class="form-check form-check-inline">
                <input [(ngModel)]="farmer.gender" class="form-check-input" type="radio" id="male" name="gender" style="background-color: aliceblue" value="male">
                <label class="form-check-label" for="male">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input [(ngModel)]="farmer.gender" class="form-check-input" type="radio"  id="female" name="gender" style="background-color: aliceblue" value="female">
                <label class="form-check-label" for="female">Female</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 2rem;">
        <div class="col-sm">
          <div class="col-md-12">
            <label for="relation" class="form-label">Relation</label>
            <select [(ngModel)]="farmer.relation" class="form-select"  aria-label="Default select example" style="background-color: aliceblue" id="relation" name="relation">
              <option selected value="Self">Self</option>
            </select>
          </div>
        </div>

        <div class="col-sm">
          <div class="col-md-12">
            <label for="bankName" class="form-label">Bank Name</label>
            <select [(ngModel)]="farmer.bank" class="form-select"  aria-label="Default select example" style="background-color: aliceblue" id="bankName" name="bankName">
              <option selected value="0">Select</option>
              <option value="State Bank of India">State Bank of India</option>
              <option value="Bank of Baroda">Bank of Baroda</option>
              <option value="Axis Bank">Axis Bank</option>
              <option value="Uco Bank">Uco Bank</option>
              <option value="HDFC Bank">HDFC Bank</option>
            </select>
          </div>
        </div>

        <div class="col-sm">
          <div class="col-md-12">
            <label for="ifscCode" class="form-label">IFSC Code</label>
            <input [(ngModel)]="farmer.ifscCode" type="text"  class="form-control" id="ifscCode" style="background-color: aliceblue" name="ifscCode" placeholder="Enter IFSC Code" required>
          </div>
        </div>

        <div class="col-sm">
          <div class="col-md-12">
            <label for="accountNumber" class="form-label">Account Number</label>
            <input [(ngModel)]="farmer.accountNumber" type="text" class="form-control" id="accountNumber" style="background-color: aliceblue" name="accountNumber" placeholder="Enter  Account Number" required>
          </div>
        </div>

      </div>

      <div class="row" style="margin-top: 2rem;">
        <div class="col-sm">
          <div class="col-md-12">
            <label for="mobile" class="form-label">Mobile Number</label>
            <input type="text" [(ngModel)]="farmer.mobile" class="form-control" id="mobile" style="background-color: aliceblue" name="mobile" placeholder="Enter Mobile Number" required>
          </div>
        </div>

        <div class="col-sm">
          <div class="col-md-12">
            <label for="uniqueId" class="form-label">Unique ID</label>
            <select #uniqueId (change)="uniqueDropDownChange(uniqueId.value)" [(ngModel)]="farmer.uniqueId" class="form-select" aria-label="Default select example" style="background-color: aliceblue" id="uniqueId" name="uniqueId">
              <option value="0" selected>Select</option>
              <option value="1">Ack Id</option>
              <option value="2">Janadhaar Id</option>
              <option value="3">Adhaar Id</option>
            </select>
          </div>
        </div>

        <div class="col-sm">
          <div class="col-md-12">
            <div id="id1">
              <label for="ackId" class="form-label">Acknowledge ID</label>
              <input [(ngModel)]="farmer.acknowledge" type="text" class="form-control" id="ackId" style="background-color: aliceblue" name="ackId" placeholder="Enter Acknowledge ID" required>
            </div>
            <div id="id2">
              <label for="janadhaarId" class="form-label">Janadhaar ID</label>
              <input [(ngModel)]="farmer.janAdhaar" type="text" class="form-control" id="janadhaarId" style="background-color: aliceblue" name="janadhaarId" placeholder="Enter Janadhaar ID" required>
            </div>
            <div id="id3">
              <label for="adhaarId" class="form-label">Adhaar ID</label>
              <input [(ngModel)]="farmer.aadhar" type="text" class="form-control" id="adhaarId" style="background-color: aliceblue" name="adhaarId" placeholder="Enter Adhaar ID" required>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="col-md-12">
          </div>
        </div>

      </div>

    </div>

    <div style="margin-top: 2rem;" class="container">

      <div class="row">

        <div class="col-sm">
          <div class="col-md-12">
            <button id="btnSubmit" class="btn btn-primary" type="submit">Submit</button>
            <button id="btnReset" class="btn btn-warning" type="reset">Reset</button>
          </div>
        </div>

      </div>
    </div>

  </form>
</fieldset>

</body>
</html>
