<body>
<h3 class="text-center">Home</h3>
<a routerLink="/farmerManagement" routerLinkActive="active"><button class="btn btn-primary">FarmerBean Management</button></a>

<!--<table>-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>Sl No</th>-->
<!--    <th>Bank Name</th>-->
<!--  </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--  <tr *ngFor="let bank of bankList; let i = index">-->
<!--    <td>{{i + 1}}</td>-->
<!--    <td>{{bank.bankName}}</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
</body>
